body{
    background-color: rgb(253, 251, 251);
    padding: 20px;
}

#cabecalho{
    position: fixed;
    top: 0;
}

#minha_foto{
    border: solid 1px black;
    border-radius: 50%;
    margin: 100px 0;
    width: 300px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    line-height: 20px;
}

.lado-esquerdo{
    width: 300px;
    margin-right: 100px;
}

.lado-direito{
    width: 300px;
}

.licoes-aprendidas{
    margin-right: 100px;
}

.text{
    display: flex;
    width: 100%;
    justify-content: center;
}